In [1]:
from sklearn.ensemble import RandomForestClassifier
import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd

In [2]:
### Create database connection
from sqlalchemy import create_engine
connection = create_engine('postgresql://test:test@localhost/domestic_violence')

In [3]:
dv_dataset = psql.read_sql('SELECT * FROM dv_dataset', connection)

dv_dataset.head()

,id,premise,o_gender,o_age,relationship,area,v_gender,v_age,day,time,alcoho,month,dv
0,52,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1,1
1,53,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1,1
2,54,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1,1
3,55,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1,1
4,56,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1,1

In [4]:
# Load libraries
from pandas.plotting import scatter_matrix
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [5]:
#81872 instances and 13 attributes:
print(dv_dataset.shape)

(81872, 13)

In [7]:
target = dv_dataset["dv"]
target_names = ["negative", "positive"]

In [8]:
data = dv_dataset.drop("dv", axis=1)
feature_names = data.columns
data.head()

,id,premise,o_gender,o_age,relationship,area,v_gender,v_age,day,time,alcoho,month
0,52,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1
1,53,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1
2,54,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1
3,55,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1
4,56,Unknown,None,None,Spouse/Partner,Woollahra,Male,Under 18,Saturday,6pm - < 12pm,Y,1

In [ ]:
# Create a random forest classifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(iris.data, iris.target)
rf.score(iris.data, iris.target)

In [ ]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf.feature_importances_
importances

In [ ]:
# We can sort the features by their importance
sorted(zip(rf.feature_importances_, iris.feature_names), reverse=True)